* {  margin: 0;    padding: 0;}
body {
  font: 10pt/14px Arial, Helvetica, sans-serif;
  background: url(cssimg/background_tile.jpg) 0 0 repeat-x;
  text-align: center;
}

h1, h2, h3, h4 { font-weight: normal; }
h1 a {}
h2 { }
h2,h3 {	 text-transform: uppercase; line-height: 1.5em;}
h3 {	}
a { text-decoration: none; outline: none;}
a:hover { }
a img { border: 3px #855A0F solid; margin: 5px 1px;}

p { margin: 5px 0; line-height: 1.4em; }

strong { }
hr { border: none; border-top: 1px dashed; height: 1px; margin: 10px 0 15px;}

blockquote { 
  padding: 15px;
  font-family: Lucinda Sans;
  margin: 5px 0 0px 0;
  font-size: 1.3em; 
}

blockquote p em {
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  text-align: right; 
}

#accessibility, .x {  display: none;}
.clear { clear: both; height: 1px;}
img.logoleak {position: absolute; top: 35px; margin-left: -280px;}
#wrapper {
  clear: both;
  width: 989px;
  margin: 0 auto;
  color: inherit;
  text-align: left;
}


div#header { text-align: left; height: 153px; }
div#header h1 { 
  height: 115px;
  background: url(cssimg/logo.jpg) 0 31px no-repeat;
  font-weight: normal; 
  width: 200px; 
  float: left; 
}
div#header h1 a { font-size: 2.3em;   text-indent: -100000px; display: block; height: 85px;}

div#header .inner { float: right; width: 500px; height: auto; }



div#header .tagline { background: url(cssimg/tagline_estimate.jpg) center right no-repeat; height: 42px; padding: 5px; text-indent: -100000px; margin-right: 15px;}

ul#top-nav {margin: 0 -60px 0 -121px; position: absolute; height: 70px;}
ul#top-nav li {float: left; list-style: none; margin: 20px 0 0 10px;}
ul#top-nav li a, ul#top-nav li span { display: block; height: 35px;}
li.work span {text-indent: -10000px;}

ul#top-nav li a:hover {}

li.home, li.home a { background: url(cssimg/top-nav.jpg) -3px 0 no-repeat; width: 71px;  text-indent: -100000px;}
li.home a:hover { background: url(cssimg/top-nav.jpg) -3px -35px no-repeat; width: 71px;}

li.work { background: url(cssimg/top-nav.jpg) -83px 0 no-repeat; width: 96px; }
li.work a {text-indent: -100000px;}

#top-nav li.work:hover a, li.sfHover a { background: url(cssimg/top-nav.jpg) -83px -35px no-repeat;}

li.testimonials, li.testimonials a { background: url(cssimg/top-nav.jpg) -190px 0 no-repeat; width: 120px;  text-indent: -100000px;}
li.testimonials a:hover { background: url(cssimg/top-nav.jpg) -190px -35px no-repeat; width: 120px;}

li.CReviews, li.CReviews a { background: url(cssimg/Reviews.png) no-repeat; width: 175px; height:30px;}
li.CReviews a:hover { background: url(cssimg/Reviewshover.png) no-repeat; width: 175px;}

li.contact, li.contact a { background: url(cssimg/top-nav.jpg) -320px 0 no-repeat; width: 114px;  text-indent: -100000px;}
li.contact a:hover { background: url(cssimg/top-nav.jpg) -320px -35px no-repeat; width: 114px;}

#top-nav li:hover a, #top-nav li.sfHover a {color: #BF8106;}

#top-nav li:hover ul a, #top-nav li.sfHover ul a { text-indent: 0!important; width: auto; }
#top-nav li:hover {	visibility:		inherit; /* fixes IE7 'sticky bug' */}
#top-nav li:hover , #top-nav li.sfHover {}
#top-nav ul {
  height: 35px;
  width: 530px;
  position: absolute;
  top: -999em;
  left: -75px;
}
#top-nav li:hover ul,#top-nav li.sfHover ul {  top: 55px; }
#top-nav ul li { background-color: #0F2028; height: 35px; margin: 0; }
#top-nav ul li a { background: transparent!important; height: 20px!important; font-size: 1em; margin: 0!important; padding: 10px 8px 0 12px;  margin: 0 5px; }


div#content { clear: both; background: url(cssimg/content.jpg) top left no-repeat; padding: 10px;}
div#content .main li { padding: 5px 0;}

/* ================= content hero styles - homepage only */
div#hero { height: 375px; background: url(cssimg/hero.jpg) 0 0 no-repeat; padding: 5px 15px 0 15px; width: 940px;}

div#hero .left-col { background: #855A0F; width: 455px; height: 345px; float: left;   margin: 10px 0 0 0;}
#slideshow {height: 335px; width: 450px; overflow: hidden; border: 5px #855A0F solid;}
#slideshow li {list-style: none; text-align: right; width: 100%;}
#slideshow li img {width: 500px;}

div#hero .right-col { float: right; width: 465px; text-align: justify;   margin: 10px 0 0 0;}
div#hero h2 {  margin-bottom: 0.5em; color: #C08400; font-size: 1.40em; line-height: 1.2em; padding: 0 10px;}
div#hero .right-col p { color: white; font-size: 12pt; padding: 0 10px;}
div#hero div.right-col .inner {  margin: 0 0 0 0;  padding: 0px 10px;}

div#hero .inner { background: url(cssimg/hero_inner.jpg) 0 0 no-repeat; height: 115px;}
div#hero table { width: 100%;}
div#hero table td, div#hero table th {}
div#hero table th, div#hero table th a { color: #C08400; text-transform: uppercase; font-size: 1.1em; font-weight: normal; padding: 0px 0;}
div#hero table td, div#hero table td a {color: #DFC17F; padding: 5px 0; font-size: 1.1em;}

div.left {width: 450px; float: left;}
div.right {width: 235px; float: right; font-size: 1.3em; position: relative; left: 30px; margin-left: -20px; }

/* =============================== side columns */
div.left-col, div.right-col {
  text-align: left;
  float: left;
}

div#content div.main div.left-col {  width: 235px; margin-top: 10px;}
h2.title_call {
  height: 70px;
  text-indent: -100000px;
  background: url(cssimg/title_call.gif) 0 0 no-repeat;
}
div#content div.main div.left-col ul li {list-style: none; margin-top: 10px;  }
li.addr { background: url(cssimg/addr.jpg) left center no-repeat;  padding-left: 50px!important; }
li.phone { background: url(cssimg/phn.jpg) left center no-repeat;  padding-left: 50px!important; }
li.email { background: url(cssimg/btn_emailus.jpg) 15px 2px no-repeat; padding: 0!important;}
li.email a {display: block; text-indent: -10000px; height: 45px;}

div.main div.left-col .inner {background: url(cssimg/sidebar_tile.jpg) 0 0 repeat-y;}
div.main div.left-col .inner_wrap { padding: 10px 0px; color: white;  background: url(cssimg/sidebar_top.jpg) top left no-repeat; }
div.main div.left-col .inner_wrap p, div.main div.left-col .inner_wrap li {margin-left: 12px!important; }

div.main div.left-col .inner_ftr {background: url(cssimg/sidebar_bot.jpg) bottom left no-repeat; }

div#content div.main div.right-col {
  margin-top: 10px;
  padding: 0px 10px 0 25px;
  width: 678px;
}
div#content div.main div.right-col h2 { color: #0C223E; }
div#content div.right-col h3 {  padding: 2px 0 0px 0;  font-size: 1.31em; color: #0C223E;}
div#content div.main div.right-col p {color: #566E76; font-size: 1.1em; line-height: 1.7em; margin-bottom: 15px;}

div#wrap a img { 
border: none; 
} 
div#footer {
  position: relative;
  height: 120px;
  bottom: -15px;
  background: url(cssimg/footer.jpg) top left repeat-x;
  padding: 10px;
  font-size: 0.8em;
  clear: both;
}